.App {
  text-align: center;
}

body{
  background-color: #F3F4F6;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* height: 100vh; */
  /* width: 100vw; */
}

*, *::before, *::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}